* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: brown;
}

canvas {
  background: #00ff00;
  background: linear-gradient(
    rgb(210, 157, 123),
    rgb(189, 40, 147),
    rgb(0, 0, 0)
  );
  display: block;
  margin: 0 auto;
}

h1 {
  color: #47aacb;
  text-align: center;
  font-family: monospace;
  margin: 50px;
}
